{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}
{% set users = [{name: 'Joe'}, {name: 'Moe'}, {name: 'Boe'}] %}
{% set string = "some string \n from \n database" %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{{ 'symfony.learning'|transchoice(count) }}
    <br>

    {% if app.user %}
        <a href="{{ path('logout') }}">Logout</a>


        {% else %}
{#            {% trans %}login.label{% endtrans %} #}
            <a href="{{ path('login.lt') }}"> {{ 'login.label'|trans|raw }}</a>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}

        <a href="{{ path('login') }}">Only admin can do this</a>

    {% endif %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        <a href="{{ path('login') }}"> {{ app.user.username }}</a>

    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}



    {% endif %}
    <a href="{{ path('login') }}">ccccc auth</a>
<div class="example-wrapper">
    <h1>Hello {{ controller_name|upper }}! ✅</h1>


    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/developer/syfony-course-app/src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/developer/syfony-course-app/templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li>
    </ul>
    <ul>


{#        FORM#}


        {{ form_start(form) }}

        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}

        {% if form.created_at is defined %}
        {{ form_label(form.created_at) }}
        {{ form_widget(form.created_at) }}
        {% endif %}

        {{ form_label(form.file) }}
        {{ form_widget(form.file) }}

        {{ form_label(form.agreeTerms) }}
        {{ form_widget(form.agreeTerms) }}

        {{ form_label(form.save) }}
        {{ form_widget(form.save) }}

        {{ form_end(form) }}

{##        {{ form(form) }}#}

{#    {% for user in users %}#}
{#        <li>{{ user }}</li> if not an object#}
{#        {% if loop.index0 < 4 %}#}
{#        <li>{{ user.name }} - you won {{ random_gift[loop.index0] }}</li>#}
{#            {% else %}#}
{#                <li>{{ user.name }}</li>#}
{#        {% endif %}#}
{#        {% endfor %}#}
{#    </ul>#}
{#    {% for label, messages in app.flashes %}#}
{#        {% for message in messages %}#}
{#        <div class="flash-notice">#}
{#            {{ message }}#}
{#        </div>#}
{#        {% endfor %}#}
{#    {% endfor %}#}

{#        {% for user in users if user.name == 'Boe' %}#}
{#            <p>{{ user.name }}</p>#}

{#            {% else %}#}
{#            No users found#}
{#        {% endfor %}#}

{#        {{ include('includes/subview.html.twig', {'users': users }) }}#}

{#        {% for i in 1..10 %}#}
{#            <div class="{{ cycle(['even', 'odd'], i) }}">#}
{#                {{i}}#}
{#            </div>#}
{#        {% endfor %}#}
        {{ path('home') }}
        {{ url('home') }}
        {{ asset('images/logo.png') }}
        {{ absolute_url(asset('images/logo.jpg')) }}

        <img src=" {{ absolute_url(asset('images/logo.jpg')) }} " alt="Symfony course app"/>
        {{ string|escape('html') }}
        <p>The google tracking code: {{ ga_code }}</p>
{#        get user data#}
{#        {{ app.user }}#}
{#        security bundle also proivides data from get and post example : http://127.0.0.1:8000/home?param=15#}
        {{ app.request.get('param') }}
        {{ app.environment }}
{#        {{ dump(app.session) }}#}

{{ render(controller(
    'App\\Controller\\DefaultController::mostPopularPosts',
    {'number': 5 }
)) }}
</div>
{% endblock %}

{% block javascripts %}
{#    helps loading both javascripts #}
    {{ parent() }}
<script>
    console.log('2 Yey');
    var route = "{{ string|escape('js') }}";
    console.log(route);
</script>
{% endblock %}
